<div class="games-list">
	<button type="button" class="btn btn-primary" [disabled]="allGamesActive" (click)="allGamesToggle()">All Games</button>
	<button type="button" class="btn btn-primary" [disabled]="!allGamesActive" (click)="attendingGamesToggle()>Games I'm Attending</button>
	<hr />
	<div *ngIf="allGamesActive">
		<div *ngFor="let game of allGames">
			<div class="card w-100">
				<div class="card-body">
					<h4>game.description</h4>
					<p>game.location.name</p>
					<p>game.location.address</p>
					<p>Number of players: kladfjslk</p>
					<p>Minimum Rating: dflksjd</p>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!allGamesActive">
		<div *ngFor="let game of attendingGames">
			<div class="card w-100">
				<div class="card-body">
					<h4>game.description</h4>
					<p>game.location.name</p>
					<p>game.location.address</p>
					<p>Number of players: kladfjslk</p>
					<p>Minimum Rating: dflksjd</p>
				</div>
			</div>
		</div>
	</div>
</div>